@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(./fonts/Oswald-Regular.ttf);
}

body {
  font-family: 'Montserrat', sans-serif;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Oswald', sans-serif;
  }
}

.fullHeight {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
